@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

button,
input {
  outline: none;
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
body,
main {
  z-index: -5;
  position: relative;
}

.snow {
  display: none;
  position: absolute;
  background-image: url("../../assets/snow.png"), url("../../assets/snow2.png");
  height: 100%;
  width: 100%;
  animation: snow 20s linear infinite;
  z-index: 100;
}
.snow.show {
  display: block;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px;
  }
}
main {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 350px);
}

.game {
  background-image: url("../../assets/bg.jpg");
  background-size: 100% 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 40px;
  z-index: -2;
}

.code {
  height: 50vh;
  background-color: #fdff8c;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.code h3 {
  text-align: center;
  flex-basis: 100%;
}

.code-window {
  display: flex;
  flex-wrap: wrap;
}

.css-editor,
.html-view {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.answer {
  flex-basis: 70%;
}

.menu {
  background-color: #a3edff;
  max-width: 350px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 15px;
}

.reset-progress {
  position: absolute;
  bottom: 15px;
  right: 0;
  width: 100%;
  text-align: center;
}

.do-this {
  color: white;
  padding: 0 10px;
  text-shadow: 1px 1px 3px black;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.45);
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.line-numbers {
  width: 30px;
  line-height: 130%;
  font-size: 13px;
}

.level-title,
.comment,
.syntax,
.hint {
  margin-top: 15px;
}

.comment {
  font-size: 16px;
  line-height: 110%;
}

.syntax {
  background: floralwhite;
  display: inline-block;
  padding: 3px 5px;
}

.hint {
  line-height: 130%;
}

.examples-title {
  margin: 7px 0;
}

hr {
  margin: 3px 0;
  border-top: 2px dashed black;
}

.notes {
  font-size: 13px;
  margin-top: 20px;
}

.level-nav {
  position: absolute;
  right: 95px;
  top: 5px;
  cursor: pointer;
}
.level-text {
  display: inline-block;
}
.level-header {
  display: flex;
  position: relative;
}

.previous,
.next {
  content: "";
  height: 18px;
  width: 18px;
  position: absolute;
  border: solid 2px white;
  border-width: 2px 2px 0 0;
  transform-origin: center center;
  transition: all 0.15s linear;
}

.previous {
  transform: rotate(-135deg);
  transition: all 0.15s linear;
  right: 2px;
}
.previous:hover {
  transform: rotate(-135deg) scale(1.2);
}

.next {
  transform: rotate(45deg);
}
.next:hover {
  transform: rotate(45deg) scale(1.2);
}

tag {
  background: rgba(0, 0, 0, 0.1);
  padding: 2px;
}

tag::before {
  content: "<";
}

tag::after {
  content: ">";
}

.correct {
  transition: all 0.5s ease;
  transform: scale(1.2);
  background: green !important;
}

.shake {
  animation: shake 0.5s linear;
  background: red !important;
}

@media only screen and (max-width: 1024px) {
  main {
    max-width: 100%;
  }

  .menu {
    position: relative;
    height: auto;
    max-width: 100%;
  }

  .reset-progress {
    display: flex;
    justify-content: flex-end;
    top: 10px;
    bottom: auto;
    right: 150px;
    width: 150px;
  }

  .reset-button {
    width: 100% !important;
  }
}
.hamburger-menu {
  position: relative;
  display: block;
  margin-left: auto;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 15px;
  width: 30px;
  height: 26px;
  cursor: pointer;
  z-index: 10;
}
.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.menu__btn > span::before {
  content: "";
  top: -10px;
}
.menu__btn > span::after {
  content: "";
  top: 10px;
}

.menu__box {
  display: flex;
  flex-direction: column;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 350px;
  height: 100%;
  margin: 0;
  padding: 60px 20px;
  list-style: none;
  background-color: #345;
  z-index: 9;
}

.menu__item {
  display: block;
  text-decoration: none;
  color: #cdff44;
  font-size: 16px;
  line-height: 160%;
}
.menu__item.active {
  color: #f4f4f4;
  background-color: #fbb;
}
.menu__item:hover {
  background-color: #f57a7a;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after,
.menu__box,
.menu__item {
  transition-duration: 0.3s;
}

.button {
  border: 2px solid #575757;
  padding: 5px;
  background: white;
}
.button.reset-button {
  width: 70%;
}
.button.reset-button:hover {
  background-color: red;
  box-shadow: 0px 0px 20px 0px red;
}
.button.enter-button {
  min-width: 30px;
  flex-basis: 15%;
}
.button.enter-button:hover {
  background-color: green;
  box-shadow: 0px 0px 10px 0px green;
}
.button.help-button {
  min-width: 30px;
  flex-basis: 15%;
}
.button.help-button:hover {
  background-color: orange;
  box-shadow: 0px 0px 10px 0px red;
}

i {
  margin-right: 5px;
  opacity: 0.8;
  color: gray;
}
i.done {
  color: green;
}
i.helped {
  color: orange;
}

.table {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.table .active {
  animation: pulsate 0.5s ease-in-out infinite both;
}
.table h2 {
  color: white;
  text-align: center;
}

gift,
bag,
car,
phone,
bear {
  display: block;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
gift:hover,
bag:hover,
car:hover,
phone:hover,
bear:hover {
  cursor: pointer;
}

.small {
  width: 45px;
  height: 45px;
}

gift {
  width: 105px;
  height: 85px;
  margin: 0 5px;
  background-image: url("../../assets/giftRedOpen.png");
}
gift.small {
  background-image: url("../../assets/giftRedLock.png");
}
gift.blue {
  background-image: url("../../assets/giftBlueOpen.png");
}
gift#fancy {
  background-image: url("../../assets/giftRedOpenFancy.png");
}
gift#fancy[for=Mum] {
  background-image: url("../../assets/giftRedOpenFancyMum.png");
}
gift[for=Ann] {
  background-image: url("../../assets/giftBlueOpenAnn.png");
}
gift[for=Joe] {
  background-image: url("../../assets/giftRedOpenJoe.png");
}
gift car {
  right: 18px;
  transform: rotate(45deg);
}
gift bear {
  bottom: 7px;
}
gift phone {
  transform: rotate(-40deg);
  right: 8px;
}

bag {
  width: 70px;
  height: 70px;
  background-image: url("../../assets/bag.png");
}

bear {
  width: 70px;
  height: 70px;
  background-image: url("../../assets/bear.png");
  z-index: -1;
}

car {
  width: 90px;
  height: 40px;
  background-image: url("../../assets/car.png");
  z-index: -1;
}

phone {
  width: 85px;
  height: 55px;
  background-image: url("../../assets/iphone.png");
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
